.loginBox {
  margin: 50px auto 0 auto;
  width: 384px;
  min-height: 599px;
  background-color: white;
  padding: 48px 32px;
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 6px;
  box-shadow:
    0px 0.61px 2.93px 0px rgba(0, 0, 0, 0.02),
    0px 1.46px 7.05px 0px rgba(0, 0, 0, 0.03),
    0px 2.75px 13.27px 0px rgba(0, 0, 0, 0.04),
    0px 4.91px 23.68px 0px rgba(0, 0, 0, 0.04),
    0px 9.19px 44.28px 0px rgba(0, 0, 0, 0.05),
    0px 22px 106px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}

.title {
  color: rgb(38, 38, 38);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputLabel {
  color: rgb(38, 38, 38);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.input {
  width: 320px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;

  background: rgb(255, 255, 255);
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  margin: 0;
}

.checkboxWrapper {
  text-align: left;
  color: rgb(89, 89, 89);
  font-family: Roboto;
  font-size: 14px;
  display: flex;
  align-items: start;
}

.checkboxLabel {
  width: 230px;
  margin-left: 8px;
}

.submit {
  width: 319px;
  height: 40px;
  margin: 10px 0px;
  border-radius: 4px;
  background: rgb(24, 144, 255);
  color: white;
  border: none;
  transition: box-shadow scale 0.3s ease;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
  }
  &:active {
    background-color: rgb(52, 135, 207);
  }
}

.linkBox {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(140, 140, 140);
}

.link {
  color: rgb(24, 144, 255);
}
